.form {
  max-width: 300px;
  margin-left: 5em;
  background-color: white;
  padding: 2em 1em;
  transform: translateY(-8em);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);

}


@media screen and (max-width: 768px){
    .form{
        transform: translateY(0em) !important;
        margin: 0 auto;
    }
}