.home{
    padding: 2em;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    background: url('../../../images/stars.svg'), #1B1B25;
    justify-content: center;
    align-items: center;
    &__message{
        margin: 0 10px;
        color: white;
        max-width: 400px;
        &--logo{
            max-width: 400px;
            width: 100%;
        }
    }   
    &__img{
        max-width: 50%;
        width: 100%;
        margin-left: 50px;
    }
}

@media screen and (min-width: 1200px){
    .home{
        padding-left: 20%;
        padding-right: 20%;

        flex-direction: row;
        &__message{
            margin: 0 3em;
            color: white;
            max-width: 40% !important;

            width: 100%;
            text-align: center;
            &--logo{
                max-width: 100%;
                width: 100%;
            }
        }   
        &__img{
            max-width: 60% !important;
            margin-left: auto !important;
            margin-top: 2em;
        }
    }
}

@media screen and (min-width: 768px)and (max-width: 1200px){
    .home{
        flex-direction: row;
        &__img{
            max-width: 700px !important;
            margin-left: auto !important;
            margin-top: 2em;
        }
    }
}

@media screen and (max-width: 768px){
    .home{
        &__img{
            max-width: 400px !important;
            margin-left: 0 !important;
            margin-top: 2em;
        }
    }
}
