.form {
  max-width: 300px;
  margin-left: 5em;
  background-color: white;
  padding: 1em 1em;
  -webkit-transform: translateY(-8em);
  -ms-transform: translateY(-8em);
  transform: translateY(-8em);
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); }

@media screen and (max-width: 768px) {
  .form {
    -webkit-transform: translateY(0em) !important;
    -ms-transform: translateY(0em) !important;
    transform: translateY(0em) !important;
    margin: 0 auto;
    margin-bottom: 2em; } }
